body {
  background: #90a8c3;
  font-family: sans-serif;
}

.to-do-app {
  min-height: 300px;
  width: 480px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  border-radius: 1rem;
  border: 0.5rem solid white;

  background: #8ed081;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.65);
}

header {
  padding: 1rem 0.5rem;
  background: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 100;

  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.input-container {
  position: relative;
  overflow: auto;
  padding: 2rem;
}

[name="to-Do-Item"] {
  float: left;
  width: 100%;

  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem;

  font-size: 1.6rem;
  font-weight: 300;
  color: #8ed081;
}

.add-icon {
  position: absolute;
  top: 42.5%;
  transform: translateY(-50%);
  right: 40px;

  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 35px;

  color: #8ed081;
}
